/* Clases reutilizables */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #a36125;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container-flex-row {
	display: flex;
	justify-content: space-between;
}

.vh100 {
	height: 100vh;
}

.active {
  border: 2px solid #fff;
}

/* Clases específicas */
.main-title {
  margin-top: 85%;
}

header hr {
  background-color: #fff;
  /* display: inline-block; */
  height: 0.125em;
  margin-top: 0;
  width: 80%;
  /* margin-left: 3%;
  margin-right: 3%; */
}
/*
header hr::before {
  content: "«";
  color: blue;
  margin-left: 3%;
  margin-right: 3%;
} */

h1, h2 {
  text-align: center;
}

.google-maps-container iframe {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.restaurants-pictures-container {
  padding: 2em;
}
.restaurants-pictures-container figure:nth-child(n+3) {
  margin-top: 2em;
}

.row-rest-pics:first-of-type{
  margin-bottom: 3em;
}

img {
  width: 100%;
  height: 100%;
}
