<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Foodmap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,
maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header>
    <h1>Foodmap</h1>
    <hr>
  </header>

  <!-- Mappa de Google -->
  <section class="google-maps-container container-fluid">
    <div class="row">
      <!-- Link de Google maps -->
      <iframe class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d505911.33981107926!2d150.80435687448158!3d-33.59009198052978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sS%C3%ADdney+Nueva+Gales+del+Sur%2C+Australia!5e0!3m2!1ses-419!2spe!4v1523231450620"
        height="250"></iframe>
    </div>
  </section>

  <!-- Sección de subtítulo y barra de búsqueda -->
  <section class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 ">
        <h2>Food close to you</h2>
      </div>
      <!-- Barra de búsqueda de restaurates -->
      <div class="col-xs-offset-1 col-xs-10">
        <form class="navbar-form" role="search">
          <div class="input-group add-on col-xs-12">
            <input class="form-control" placeholder="Vegeterian food or grill" name="srch-term" id="srch-term" type="text">
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- Sección de restaurantes vegetarianos -->
  <section class="restaurants-pictures-container container-fluid veggie-restaurant" hidden>
    <div class="row row-rest-pics">
      <figure class="col-xs-4 veggie-rest1">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/veggie-rest.jpeg" alt="veggie-restaurant">
        </a>
      </figure>
      <figure class="col-xs-4 veggie-rest2">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/veggie-rest-1.jpeg" alt="veggie-avocado">
        </a>
      </figure>
      <figure class="col-xs-4 veggie-rest3">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/veggie-rest-2.jpeg" alt="gourmet-veggie">
        </a>
      </figure>
      <figure class="col-xs-4 veggie-rest4">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/veggie-rest-3.jpeg" alt="yellow-veggie">
        </a>
      </figure>
      <figure class="col-xs-4 veggie-rest5">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/veggie-rest-4.jpeg" alt="onion-veggie">
        </a>
      </figure>
      <figure class="col-xs-4 veggie-rest6">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/veggie-rest-5.jpeg" alt="smoothie-veggie">
        </a>
      </figure>
    </div>
    <!-- <div class="row row-rest-pics">

        </div> -->
  </section>

  <!-- Sección de restaurantes de parrillas -->
  <section class="restaurants-pictures-container container-fluid steak-restaurant" hidden>
    <div class="row row-rest-pics">
      <figure class="col-xs-4 steak-rest1">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/steak-rest.jpg" alt="steak-restaurant">
        </a>
      </figure>
      <figure class="col-xs-4 steak-rest2">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/steak-rest-1.jpg" alt="steak-restaurant-sauce">
        </a>
      </figure>
      <figure class="col-xs-4 steak-rest3">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/steak-rest-2.jpg" alt="long-steak">
        </a>
      </figure>
      <figure class="col-xs-4 steak-rest4">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/steak-rest-3.jpg" alt="smashed-potatoes-steak">
        </a>
      </figure>
      <figure class="col-xs-4 steak-rest5">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/steak-rest-4.JPG" alt="gourmet-steak">
        </a>
      </figure>
      <figure class="col-xs-4 steak-rest6">
        <a data-toggle="modal" data-target="#MODAL-restaurant">
          <img src="../assets/images/steak-rest-5.jpg" alt="beer-steak">
        </a>
      </figure>
    </div>
    <!-- <div class="row row-rest-pics">

        </div> -->
  </section>

  <!-- SECCIÓN DE VENTANA EMERGENTE REUTILIZABLE -->
  <section>
    <div class="modal fade" id="MODAL-restaurant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <!-- Título donde irá el nombre del restaurante -->
            <h2 class="modal-title text-center" id="restaurant-name"></h2>
          </div>
          <div class="modal-body">
            <div class="">
              <div id="google-map-rest-container">
              </div>
              <h4 class="text-center" id="slogan">
              </h4>
            </div>

            <div class="info-modal-container">
              <div class="col-xs-6 fa fa-map-marker" aria-hidden="true">
                <p class="info-modal text-center" id="address"></p>
              </div>
              <div class="col-xs-6 fa fa-shopping-basket" aria-hidden="true">
                <p class="info-modal text-center" id="services"></p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-primary text-uppercase center-block" id="btn-modal">order now</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

  </section>


  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <!-- JS de modales con información de restaurantes de parrillas -->
  <script type="text/javascript" src="../js/modal-steak-rest.min.js"></script>
  <!-- JS de modales con información de restaurantes vegetarianos -->
  <script type="text/javascript" src="../js/modal-veggie-rest.min.js"></script>
  <!-- Javascript con funciones de búsqueda de restaurantes y efecto de mouseover -->
  <script type="text/javascript" src="../js/main-view.min.js"></script>
  <!-- Data JS con información de los restaurantes -->
  <script type="text/javascript" src="../js/data.min.js"></script>
</body>

</html>